@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
	display: none;
}

body {
    color: #bdc1c6;
    background: #202124;
}

.ppage-link-inactive {
    color: #bdc1c6;
    list-style: none;
    background: #202124;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    min-width: 40px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

/* style={{ border: '#3c4043 1px solid' }} */

.shownNews div,
.shownNews span,
.shownNews img {
display: none !important;
border: '#3c4043 1px solid' !important
}

.ppage-link-active, .ppage-link-inactive:hover {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-width: 40px;
    min-height: 40px;
    color: royalblue;
    font-weight: bold;
    background:whitesmoke;
    list-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.hover\:text-blue-custom:hover {
    --tw-text-opacity: 1;
    color: rgba(138, 180, 248, var(--tw-text-opacity)) !important;
}

@media screen and (max-width: 991px) {
    .inside-modal {
        flex-direction: column;
    }
}
@media screen and (max-width: 991px) {
    .show-mobile {
        width: 100vw !important;
    }
}
@media screen and (min-width: 992px) {
    .show-desktop {
        width: 652px !important;
        margin-right: 10px;
    }
}
@media screen and (min-width: 992px) {
    .show-desktop-small-image {
        width: 300px !important;
        margin-left: 10px;
    }
}



/* @media screen and (min-width: 1024px) {
    .show-mobile {
        width: 90vw;
    }
} */

@media screen and (min-width: 640px) {
    .container-fluid{
        max-width: 640px;
    }
}

@media screen and (min-width: 768px) {
    .container{
        max-width: 768px;
    }
}

@media screen and (min-width: 1024px) {
    .container{
        max-width: 1024px;
    }
}

@media screen and (min-width: 1280px) {
    .container{
        max-width: 1280px;
    }
}

@media screen and (min-width: 1536px) {
    .container{
        max-width: 1536px;
    }
}